# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment files
.env/
*.env

# Virtual environments
venv/
env/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific
.DS_Store
Thumbs.db
